{% load crispy_forms_tags %}
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		 integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	</head>
<div class="container">
	{% block content %}
	<div class="content-section">
		<div class="media">
			<div class="media-body">
				<h2 class="account-heading">{{ user.username }}</h2>
				<p class="text-secondary">{{ user.email }}</p>
			</div>
			
		</div>
		<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<fieldset class="form-group">
					{{u_form|crispy}}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">Update</button>
				</div>
			</form>
	</div>
</div>
	{% endblock content %}
</html>